{% extends "blog/base.html" %}
{% block content %}
<div class="container py-5">
  <div class="row justify-content-center">
    <div class="col-md-6 col-12">
      <div class="card shadow-lg border-0">
        <div class="card-body p-5 text-center">
          <h1 class="mb-4">Are you sure you want to delete the post?</h1>
          <form action="" method="POST" class="mb-3">
            {% csrf_token %}
            <button class="btn btn-danger px-4 me-2" type="submit">Confirm</button>
            <a href="{% url 'index' %}" class="btn btn-outline-secondary px-4">Cancel</a>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}